*{
    box-sizing: border-box;
}

body{    
    margin: 0;
    background-color: black;
    color: white;
    font-size: 10px;
    padding-bottom:5%;
}

#left{
    width: 60%;
    height:200vh;    
    display:inline-block;
    padding-left:6%; 
    font-family: sans-serif;
}   

/*Right portion START*/
#right{
    position:fixed;
    top:0px;
    right:0px ;
    width: 40%;
    height:100vh;        
    display: inline-block;
    padding: 2%;
    padding-right:2%;     
}

form{
    margin-top:23vh;
}

.form-field{
    width: 100%;
    border:none;    
    color:white;    
    text-align: center;
    padding: 3.5%;
    margin-top:2%;
    border-radius:3px;
}

input::placeholder {
    color: white;
    font-weight: 500;
    font-size: 150%;
    opacity: 1; 
    font-family: monospace;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: 500;
    font-size: 150%;
    opacity: 1; 
    font-family: monospace;
 }
 
 input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-weight: 500;
    font-size: 150%;
    opacity: 1; 
    font-family: monospace;
 }

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 900;        
    font-size:400%;
    margin: 0%;
}

#username{
    background-color:#dc4738;    
}

#password{
    background-color: #396baf;
}

#submit-button{    
    width:100%;
    display: inline-block;    
    border:2px solid white;
    background-color: transparent;
    padding: 2%;
    font-size: 150%;
    border-radius:0;
    cursor: pointer; 
}

/*Right portion END*/

/*Left Portion START*/
#nav{
    margin-top:3vh;
    opacity: 0.7;
    margin-bottom:12vh;
}
#nav-logo{
    width:17%;    
}

#heading{
    border:1px solid white;
    width:40%;
    padding:1.2%;
    font-size: 42%;
    opacity: 0.8;
    
}

#star{
    width:6%;
    margin-left: 5%;
    margin-right: 10%;
}

#left-content{    
    margin-top:2%;
    font-size: 140%;
    font-weight: 100;
    font-family: sans-serif;    
}

#row-1 h2{
    margin-top: 2%;
    opacity: 0.8;
    font-weight:600; 
    font-size:355%;
}

#row-1 #main-heading{
    opacity: 0.4;
    font-size: 120%;
}

#row-1 p{
    opacity: 0.4;
    font-size: 140%;
    font-family: sans-serif;
    font-weight: normal;
}

#row-2{
    clear: both;
}

#row-2 h2{
    opacity: 0.8;
    font-size:290%; 
}

.para{
    margin-top:9%;
}

.content-block{
    margin-top:2%;
    display: inline-block;
    width:70%;
    font-size: 70%;
}

.img-left{    
    width:25%;
    float: left;
}

.media-image{
    width: 75%;
}

.content-block h2{
    opacity: 0.8;    
}

.content-block .content{
    opacity: 0.7;
    font-size: 175%;
    text-align: justify;
}


#left-2{
    width:35%;  
    float:right;    
    text-align:right;
    height:83vh;
}

#left-2 #old-light{
    width:100%;
}


/*Left potion END*/